/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    list-style: none;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

header {
	text-align: center;
	width: 100%;
	background: black;
	color:white;
}
/***General******/
.mainWrapper{
	padding:15px;
}
#contentRight {
	height: 500px;
	background: black;
	border:4px solid gray;
}
#categoryBox ul li{
	display: inline-block;
	width: 30%;
	margin-right: 4%;
	background: lightblue;
	text-align: center;
}
#categoryBox ul li:last-child{
	margin-right: 0;
	float: right;
}
#questionBox ,#answerBox{
	margin-top: 20px;
	display: flex;
}
#questionBox{
	position: relative;
	background: no-repeat;
	background-size: 100% 100%;
	border:4px solid purple;
}
key {
	position: absolute;
	background: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}
note {
	background-size: 100% 100%;
	position: absolute;
	width: 11%;
	height: 32.5%;
	top:18.6%;
	left:20%;
	z-index:10;
}
.extraline{
	position: absolute;
	width: 11%;
	height: 31.5%;
	background: url('img/Misc/extraline.png') no-repeat;
	background-size: 100% 100%;
}
answer{
	display: inline-block;
	background: no-repeat;
	background-size: 100% 100%;
	width: 20%;
	height: 9.5vh;
	margin-right: 4.5%;
	border: 4px solid black;
}
answer:last-child{
	margin-right: 0;
	float: right;
}
input[type='button']{
	width: 90%;
	margin:5%;
	border-radius: 10px;
	background: gold;
	text-align: center;
	padding:14px;
	border:2px solid gray;
}

/******************/
@media only screen and (min-width:786px){
	.mainWrapper{
		width: 80%;
		margin: 20px auto;
	}
	#contentLeft, #contentRight{
		display: inline-block;
		vertical-align: top;
	}
	#contentLeft {
		width: 60%;
		margin-right:7%;
	}
	#contentRight{
		width: 30%;
	}
	#answerBox{
		width: 80%;
		margin:20px auto;
	}
	answer{
		width: 15%;
		height: 10.5vh;
		margin-right: 11%;
	}
}


